@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Content Section -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register as Customer</h5>
                    <p class="card-text">Join us as a customer to explore our products and services.</p>
                    <a href="/register-customer" class="btn btn-primary">Register Customer</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Register as Owner</h5>
                    <p class="card-text">Are you a business owner? Register your business with us.</p>
                    <a href="/register-owner" class="btn btn-primary">Register Owner</a>
                </div>
            </div>
        </div>
    </div>



