@using IdentityExample.DTO
@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
@model RegisterDTO

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center">Register</h2>
                    <form asp-controller="Account" asp-action="UserRegister"  method="post">

                        <div class="form-group mb-3">
                            <label asp-for="FullName">Full Name</label>
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="Email">Email</label>
                            <input asp-for="Email" class="form-control" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>
                                              
                        <div class="form-group mb-4">
                            <label asp-for="PhoneNumber">Phone Number</label>
                            <input asp-for="PhoneNumber" class="form-control" />
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>


                        <div class="form-group mb-3">
                            <label asp-for="Password">Password</label>
                            <input asp-for="Password"  type= "password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>

                        <div class="form-group mb-3">
                            <label asp-for="ConfirmPassword">Confirm Password</label>
                            <input asp-for="ConfirmPassword" type="password" class="form-control" />
                            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Register</button>


@*                        todo:remove that after showing errors for each inputs
*@    
                        <div asp-validation-summary="All" class="text-red"></div>

                        @if (ViewBag.Errors != null)
                        {
                            <div class="text-red ml">
                                <ul>
                                    @foreach (string error in ViewBag.Errors)
                                    {
                                        <li class="ml">@error</li>
                                    }
                                </ul>
                            </div>
                        }

                    </form>

                                       
                    <div class="text-center mt-3">
                        <p>Already registered? <a href="account/userLogin">Login here</a>.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

